[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

.button-uisref {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

md-toolbar a {
  vertical-align: middle;
}
